<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor</title>
</head>
<body>
    <div class = "container1">  

        <table>
            <thead>
                <tr>
                    <th>Day</th>

                    <th>Month</th>

                    <th>Week <select class="week">
                        <option>week1</option>
                        <option>week2</option>
                        <option>week3</option>
                        <option>week4</option>
                      </select></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>March</td>
                    <td>2025</td>
                    
                </tr>
                <tr>
                    <td>15</td>
                    <td>April</td>
                    <td>2025</td>
                    
                </tr>
                <tr>
                    <td>20</td>
                    <td>May</td>
                    <td>2025</td>
                   
                </tr>
            </tbody>
        </table>
            
        

    </div>

    
</body>
</html>